@import "../../../styles/src/colors";
.advertise {
  padding: 100px 0;
  position: relative;
  &_container {
    background-color: $light-orange-color;
    color: $black;
    padding: 20px 40px;
  }
  &_image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    position: absolute;
    bottom: -20px;
  }
}
