@import "../../../styles/src/colors";
@import "../../../styles/src/typography";
@import "../../../styles/src/breakpoints";
.login {
  background-color: #fdfdfb;
  height: 100vh;
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  &_box {
    height: calc(100vh - 75px);
    &_border {
      border: 12px solid $white;
      padding: 0 !important;
      border-radius: 4px;
    }
  }
  &_btn {
    width: 49%;
  }
  input {
    height: 36px;
  }
  &_wrapper {
    padding: 5rem 3.5rem !important;
    background-color: $white;
    border: 1px solid #c98b66;
    border-radius: 4px;
    &_img {
      margin: 0 auto;
    }
    &_content {
      padding-top: 1.3rem;
      &_header {
        @include font-raleway-bold-20($deep-purple);
      }
      &_subheader {
        @include font-poppins-regular-15($black);
      }
    }
    &_already_transacted {
      @include font-poppins-regular-11($black);
    }
    &_already_transacted_link {
      @include font-poppins-regular-11($orange-color);
    }
    .facebook-button {
      border: none;
      background: none;
      svg {
        width: 20px;
        fill: $facebook-color;
      }
    }
    .google-button {
      border: none;
      background: none;
      svg {
        width: 20px;
      }
    }
  }
}

.btn-outline-primary {
  color: #c98b66 !important;
  border-color: #c98b66 !important;
  &:hover {
    background-color: #c98b66 !important;
    color: #fff !important;
  }
}
