@import "../../../styles/src/colors";
@import "../../../styles/src/typography";
@import "../../../styles/src/breakpoints";
.user-properties {
  padding: 2rem;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 4px;
}
.add-properties {
  .btn-info {
    &::after {
      content: 'Submit' !important;
      font-size: 15px;
      font-weight: 500;
    }
  }
}


