@import "../../../styles/src/colors";
@import "../../../styles/src/typography";
@import "../../../styles/src/breakpoints";
.user-journey-form {
  height: calc(100vh - 11vh);
  .form-group {
    margin-bottom: 1.8rem;
  }
  input {
    height: 36px;
    @include font-poppins-regular-12($black);
  }
  .input-group-text {
    @include font-poppins-regular-12($black);
  }
  &_wrapper {
    padding: 3rem !important;
    background-color: $white;
    border: 2px solid #e2e2e2;
    border-radius: 4px;
    @include xl-desktop {
      padding: 4rem !important;
    }
  }
  .steps-wrap {
    height: 60%;
  }
  .steps {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    &_count {
      height: 50px;
      width: 50px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background: #e6e6e6;
      border-radius: 30px;
      font-size: 28px;
      color: $orange-color;
      &.active {
        color: $white;
        background: $orange-color
      }
    }
    
    &_text {
      margin-left: 15px;
      @include font-raleway-bold-16($orange-color);
      vertical-align: super;
    }
  }
  .btn-primary {
    border-color: $orange-color !important;
    background-color: $orange-color !important;
    color:$white !important;
    @include font-poppins-bold-13($white);
    &:hover {
      border-color: #a9714f !important;
      background-color: #a9714f !important;
    }
  }
}


