.project-list {
  tbody {
    tr {
      td:nth-child(3) > div {
        width: 200px;
        overflow: hidden;
        white-space: nowrap;
        display: block;
        text-overflow: ellipsis;
      }
    }
  }
 
}
