@import "../../../styles/src/colors";
@import "../../../styles/src/typography";
@import "../../../styles/src/breakpoints";

.search-filter {
  padding-left: 75px;
  .form-control {
    @include font-poppins-regular-12($orange-color);
    font-weight: 500;
    height: 38px;
    width: 100% !important;
    @include mobile {
      margin-bottom: 10px;
      margin-right: 0 !important;
    }
  }
  .css-1uccc91-singleValue,  .css-26l3qy-menu, .css-1wa3eu0-placeholder {
    @include font-poppins-regular-12($orange-color);
    font-weight: 500;
  }
  .custom-select {
    padding: 0;
    border: none;
  }
  .btn-primary {
    background: $orange-color;
    border-color: $orange-color;
    font-size: 13px;
    padding-left: 15px;
    padding-right: 15px;
    height: 38px;
    font-weight: 500;
    &:hover, &:focus {
      background: $orange-color;
      border-color: $orange-color;
    }
  }
  @include mobile {
    padding-left: 20px;
    padding-right: 20px;
    .css-2b097c-container {
      margin-bottom: 10px;
    }
  }
}
.search-text::-webkit-input-placeholder {
  color: $orange-color !important;
}