@import "../../../styles/src/colors";
@import "../../../styles/src/typography";
@import "../../../styles/src/breakpoints";

.advertise {
  background-color: $light-grey-2;
  padding: 130px 0 60px 0;
  @include mobile {
    padding: 25px 0;
  }
  position: relative;
  &_container {
    background-color: $light-orange-color;
    padding: 25px 40px;
    border-radius: 20px;
    h1 {
      @include font-raleway-bold-35($black);
      @include mobile {
        @include font-raleway-bold-40($black);
      }
    }
    p {
      @include font-poppins-regular-12($black);
      @include mobile {
        @include font-poppins-regular-21($black);
        padding-bottom: 4rem;
      }
    }
    .number {
      .header {
        @include font-poppins-bold-14($black);
        @include mobile {
          margin-top: 10px;
          display: inline-block;
          @include font-poppins-bold-22($black);
        }
      }
      h2 {
        @include font-poppins-bold-62($black);
        line-height: 1;
      }
      .link {
        @include font-poppins-regular-12($black);
      }
    }
  }
  &_image {
    position: absolute;
    bottom: -25px;
    right: -12px;
    @include mobile {
      position: relative;
      width: 100%;
      bottom: 0;
      margin-top: 50px;
    }
    @include tablet {
      position: relative;
      width: 100%;
    }
  }
}
