@import "../../../styles/src/colors";
@import "../../../styles/src/typography";
@import "../../../styles/src/breakpoints";
.hero-component {
  position: relative;
  .hero-banner-image {
    object-fit: cover;
    object-position: center top;
    width: 100%;
    min-height: 100vh;
    @include mobile {
      min-height: 75vh;
    }
  }
  .hero-component-content-container {
    color: $white;
    margin: 0 auto;
    .hero-component-content {
      top: 33%;
      position: absolute;
      @include mobile {
        width: 80%;
        top: 20%;
        padding: 0 15px;
      }
      width: 50%;
      h2 {
        @include font-raleway-bold-52($white);
        @include mobile {
          @include font-raleway-bold-45($white);
        }
      }
      p {
        @include font-poppins-regular-30($white);
        line-height: 4rem;
        padding-top: 50px;
        @include mobile {
          @include font-poppins-regular-22($white);
          line-height: 3rem;
          padding-top: 20px;
        }
      }
    }
  }
}
