@import "../../../styles/src/colors";
@import "../../../styles/src/typography";
@import "../../../styles/src/breakpoints";
.hero-component {
  position: relative;
  .hero-banner-image {
    object-fit: cover;
    object-position: center top;
    width: 100%;
    min-height: 100vh;
  }
  .hero-component-content-container {
    color: $white;
    margin: 0 auto;
    .hero-component-content {
      top: 33%;
      position: absolute;
      @include mobile {
        width: 80%;
      }
      width: 50%;
      h2 {
        @include font-raleway-bold-41($white);
      }
      p {
        @include font-poppins-regular-22($white);
      }
    }
  }
}
