@import "../../../index.scss";
.hero-component {
  position: relative;
  .hero-banner-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }
  .hero-component-content-container {
    color: white;
    width: 1140px;
    margin: 0 auto;
    .hero-component-content {
      top: 50%;
      position: absolute;
      width: 30%;
    }
  }
}
