@import "../../styles/src/colors";
@import "../../styles/src/typography";
@import "../../styles/src/breakpoints";
.project-list {
  .main-navigation {
    background-color: #0f1033;
  }
  &__wrap {
    padding-top: 7rem;
    padding-bottom: 30px;
    background-color: #f5f5f5;
    @include mobile {
      padding-top: 50px;
    }
  }
  .showing-text{
    @include font-poppins-bold-14($orange-color);
    line-height: 1.2;
  }
  .show {
    .dropdown-toggle {
      color: $orange-color !important;
    }
  }
  .dropdown-toggle {
    border-radius: 0;
    text-align: left;
    background: #fff !important;
    border-color: #ccc;
    @include font-poppins-bold-12($orange-color);
    &:hover {
      color: $orange-color;
    }
    &:focus {
      box-shadow: none !important;
    }
  }
  .dropdown-item {
    @include font-poppins-regular-13(black);
  }
}
