@import "../../styles/src/colors";
@import "../../styles/src/typography";
@import "../../styles/src/breakpoints";

.user-journey {
  background-color: #fdfdfb;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}