@import "../../../styles/src/colors";
@import "../../../styles/src/typography";
@import "../../../styles/src/breakpoints";
.footer-container {
  background-color: $black-3;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: contain;
  color: $white;
  .footer-container-content {
    .footer-left-container {
      @include mobile {
        order: 2;
      }
    }
    padding: 4.5rem 0 2rem;
    @include mobile {
      padding: 2.5rem 1.5rem 2rem;;
    }
    &-items {
      @include font-poppins-bold-18($white);
      @include mobile {
        @include font-poppins-bold-18($white);
      }
    }
    &-subitems {
      @include font-poppins-regular-13($white);
      @include mobile {
        @include font-poppins-regular-12($white);
      }
    }
  }
  .footer-right-container {
    @include mobile {
      order: 1;
    }
    &-logo {
      max-width: 15rem;
      @include mobile {
        max-width: 25rem;
      }
    }
    &-social-links {
      @include font-poppins-bold-18($white);
      @include mobile {
        @include font-poppins-bold-18($white);
      }
    }
    &-content {
      @include font-poppins-regular-14($white);
      @include mobile {
        @include font-poppins-regular-12($white);
      }
    }
    .social-link-list li {
      display: inline-block;
      list-style: none;
      img {
        height: 16px;
        margin-right: 10px;
        @include mobile {
          height: 11px;
        }
      }
    }
  }
  .input-box-email {
    @include font-poppins-bold-14($black);
    height: 5rem;
    width: 70%;
    margin-right: 0.7rem;
    @include tablet {
      width: 65%;
    }
  }
  .button-primary {
    color: white;
    background-color: $deep-purple;
    height: 5rem;
    width: 20%;
    border: 0px;
    @include font-poppins-bold-17($white);
    @include tablet {
      width: 30%;
    }
  }
  .copyright {
    @include font-poppins-regular-13($white);
    @include mobile {
      @include font-poppins-regular-10($white);
    }
  }
}
