@import "../../../index.scss";
.advertised_property {
  padding: 40px 0;
  &_header {
    color: $orange-color;
  }
  &_image {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
