@import "../../../styles/src/colors";
@import "../../../styles/src/typography";
@import "../../../styles/src/breakpoints";
.advertised_property {
  margin-top: 70px;
  padding-top: 35px;
  min-height: 550px;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  &_header {
    color: $orange-color;
    @include font-raleway-bold-32($orange-color);
  }
  &_image {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &_content {
    position: relative;
    @include mobile {
      width: 80%;
      margin: 0 auto;
    }
    &_detail {
      position: absolute;
      bottom: -100px;
      @include mobile {
        bottom: 0px;
      }
      background: white;
      width: 100%;
      border-top-right-radius: 50px;
      h2,
      .price {
        @include font-poppins-bold-14($deep-purple);
        @include mobile {
          @include font-poppins-bold-18($deep-purple);
        }
      }
      p {
        @include font-poppins-regular-11($grey-color);
      }
      span.data {
        @include font-poppins-regular-10($black);
      }
      .button {
        @include font-poppins-bold-10($deep-purple);
        &.active {
          @include font-poppins-bold-10($orange-color);
        }
      }
    }
  }
}
