@import "../../../styles/src/colors";
@import "../../../styles/src/typography";
@import "../../../styles/src/breakpoints";
.card {
  padding-left: 20px;
  &_container {
    background-color: white;
    color: $black;
    &_image {
      width: 12rem;
      margin-top: 5px;
      position: relative;
      left: -45px;
      padding-bottom: 5px;
    }
    h4 {
      @include font-poppins-bold-12($black);
      padding-top: 20px;
    }
    .location {
      @include font-poppins-regular-10($grey-color);
    }
  }
}
