@import "../../../styles/src/colors";
@import "../../../styles/src/typography";
@import "../../../styles/src/breakpoints";

.image-gallery {
  .right{ 
    float: left;
    .image-gallery-thumbnails {
      top: 8px;
    }
  }
}
.image-gallery-content {
  background: $deep-purple;
}
.image-gallery-slide {
  .image-gallery-image {
    object-fit: cover;
    height: 470px;
  }
}
