// -----------------------------------------------------------------------------
// This file contains Color Pallette.
// -----------------------------------------------------------------------------

$white: #ffffff;
$orange-color: #c98b66;
$deep-purple: #0e1033;
$deep-purple-38: rgba(14, 16, 51, 0.38);
$grey-color: #909090;
$black: #000000;
$border-color: #707070;
$black-2: #2e2e2e;
$black-3: #303030;
$green: #74d68e;
$light-orange-color: #ffd6be;
$red: #ff372f;
$facebook-color: #3b5998;
