.developer_form {
  .card {
    margin-bottom: 30px;
  }
  .header {
    color: #424242;
    padding: 20px 20px 0 20px;
    position: relative;
    box-shadow: none;
    h2 {
      font-size: 17px;
      color: #757575;
      position: relative;
      display: inline-block;
      padding-bottom: 0;
      strong {
        color: #191b3c !important;
      }
      &::before {
        background: #191b3c !important;
        position: absolute;
        width: 13px;
        height: 2px;
        left: -20px;
        top: 8px;
        content: '';
      }
    }
  }
  .body {
    font-size: 14px;
    color: #424242;
    padding: 20px;
    font-weight: 400;
    h3 {
      font-size: 16px;
      color: #757575;
      text-align: center;
      margin-bottom: 18px;
      &::after, &::before {
        content: "\A0\A0\A0\A0\A0";
        text-decoration: line-through;
        color: #757575;
      }
      span {
        background-color: #fff;
        padding: 0 10px;
      }
    }
  }
}

.developer-list {
  tbody {
    tr {
      td:nth-child(3) > div {
        width: 200px;
        overflow: hidden;
        white-space: nowrap;
        display: block;
        text-overflow: ellipsis;
      }
    }
  }
 
}

#root_major_projects {
  #root_major_projects__title {
    font-size: 18px;
  }
  .glyphicon {
    display: inline-block;
    font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .glyphicon-plus:before {
    content: '\f278';
  }
  .glyphicon-remove {
    vertical-align: top;
    &:before {
      content: '\f136';
    }
  }
  .btn-add {
    border-radius: 30px;
    height: 38px;
    width: 38px;
  }
  .btn-group {
    position: absolute;
    right: -36px;
    top: 3px;
  }
  .array-item-list {
    width: 100%;
    margin-left: 0;
  }
  .array-item {
    width: 100%;
    position: relative;
  }
  .array-item-add {
    padding-left: 15px;
  }
  .array-item-remove {
    border-radius: 30px;
    height: 30px;
    width: 30px;
  }
  .array-item-move-up,
  .array-item-move-down {
    display: none;
  }
}
