@import "../../../styles/src/colors";
@import "../../../styles/src/breakpoints";
.navbar ul {
  text-align: right;
}
.navbar {
  display: block;
}
.navbar ul li {
  display: inline-block;
  margin-left: 2.5rem;
  position: relative;
}
.navbar ul li a {
  color: $white;
  display: inline-block;
  text-transform: capitalize;
  font-size: 1.3rem;
  line-height: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 3rem;
}
.navbar ul li a:hover {
  text-decoration: none;
}
.main-navigation {
  width: 100%;
  background-color: $deep-purple;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9;
}
.main-navigation.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 99;
  background-color: $deep-purple;
  -webkit-box-shadow: 0px 0px 4px rgba(2, 5, 21, 0.7);
  box-shadow: 0px 0px 50px rgba(2, 5, 21, 0.7);
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  -webkit-animation: sticky 1s;
  animation: sticky 1s;
}
.logo-area svg {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  @include mobile {
    height: 52px;
    width: 130px;
  }
}
/* hide the link until viewport size is reached */
a.meanmenu-reveal {
  display: none;
}

/* when under viewport size, .mean-container is added to body */
.mean-container .mean-bar {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  float: left;
  position: relative;
  width: 100%;
  z-index: 99;
}

.mean-container a.meanmenu-reveal {
  border: 1px solid transparent;
  color: $white;
  cursor: pointer;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  height: 2.2rem;
  line-height: 2.2rem;
  margin-top: -4.5rem;
  padding: 0.8rem 0.9rem;
  position: absolute;
  right: 0;
  text-decoration: none;
  top: -0.5rem;
  width: 2.2rem;
  @include mobile {
    top: -1.5rem;
  }
}

.mean-container a.meanmenu-reveal span {
  background: $white none repeat scroll 0 0;
  display: block;
  height: 0.3rem;
  margin-top: 0.4rem;
  float: right;
}
.mean-container a.meanmenu-reveal span:nth-child(1) {
  width: 3.5rem;
}
.mean-container a.meanmenu-reveal span:nth-child(2) {
  width: 2.5rem;
}
.mean-container a.meanmenu-reveal span:nth-child(3) {
  width: 1.5rem;
}
.mean-container .mean-nav {
  background: transparent;
  float: left;
  padding-bottom: 1.5rem;
  margin-top: 1.8rem;
  width: 100%;
}

.mean-container .mean-nav ul {
  padding: 0 1rem;
  margin: 0;
  width: 97%;
  list-style-type: none;
}

.mean-container .mean-nav ul li {
  position: relative;
  float: left;
  width: 100%;
  font-size: 2.3rem;
  //border-top: 1px solid #ffffff20;
}

.mean-container .mean-nav ul li a {
  color: $white;
  display: block;
  float: left;
  margin: 0;
  padding: 1.4rem 1px;
  text-align: left;
  text-decoration: none;
  text-transform: capitalize;
  width: 100%;
}

.mean-container .mean-nav ul li li a {
  //border-top: 1px solid #ffffff20;
  opacity: 0.75;
  padding: 10px 10%;
  text-shadow: none;
  visibility: visible;
  width: 80%;
}

.mean-container .mean-nav ul li.mean-last a {
  border-bottom: none;
  margin-bottom: 0;
}

.mean-container .mean-nav ul li li li a {
  width: 70%;
  padding: 1em 15%;
}

.mean-container .mean-nav ul li li li li a {
  width: 60%;
  padding: 1em 20%;
}

.mean-container .mean-nav ul li li li li li a {
  width: 50%;
  padding: 1em 25%;
}

.mean-container .mean-nav ul li a:hover {
  background: #252525;
  background: rgba(255, 255, 255, 0.1);
}

.mean-container .mean-nav ul li a.mean-expand {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: rgba(255, 255, 255, 0.1) none repeat scroll 0 0;
  border-color: currentcolor currentcolor rgba(255, 255, 255, 0.2)
    rgba(255, 255, 255, 0.4);
  -o-border-image: none;
  border-image: none;
  border-style: none none solid solid;
  border-width: medium medium 1px 1px;
  font-weight: 700;
  height: 2.7rem;
  margin-top: 1px;
  padding: 0.8rem 1.2rem;
  position: absolute;
  right: 0px;
  text-align: center;
  top: 0;
  width: 2.6rem;
  z-index: 2;
}

.mean-container .mean-nav ul li a.mean-expand:hover {
  background-color: #363636;
}

.mean-container .mean-push {
  float: left;
  width: 100%;
  padding: 0;
  margin: 0;
  clear: both;
}

.mean-nav .wrapper {
  width: 100%;
  padding: 0;
  margin: 0;
}

/* Fix for box sizing on Foundation Framework etc. */
.mean-container .mean-bar,
.mean-container .mean-bar * {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

.mean-remove {
  display: none !important;
}

.transparent-header .mean-container a.meanmenu-reveal {
  //border: 1px solid #ffffff20;
  color: $white;
}

.transparent-header .mean-container a.meanmenu-reveal span {
  background: $orange-color;
}
.mean-container .mean-nav {
  margin-top: 5px;
  background: $deep-purple;
}
.mobile-menu {
  background-color: $deep-purple;
}
.social-links {
  transform: rotate(-90deg);
  width: 12rem;
  height: 10rem;
  position: absolute;
  bottom: 4rem;
  white-space: nowrap ;
  span {
    color: $white;
    font-size: 1.8rem;
    margin-right: 1rem;
  }
  &_icon {
    border: 1px solid $white;
    border-radius: 30px;
    height: 24px;
    width: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 5px;
    i {
      font-size: 14px;
      color: $orange-color;
    }
  }
}