@import "../../../styles/src/colors";
@import "../../../styles/src/typography";
@import "../../../styles/src/breakpoints";

.features {
  padding-top: 2.2rem;
  padding-bottom: 5.5rem;
  background-repeat: no-repeat;
  background-size: cover;
  @include mobile {
    margin-top: 80px;
  }
  h1 {
    @include font-raleway-bold-32($orange-color);
    @include mobile {
      @include font-raleway-bold-40($orange-color);
    }
  }
  &_wrap {
    padding: 2.8rem;
    .col {
      padding: 0 !important;
    }
  }
  &_text {
    color: #fff;
    display: inline-block;
    font-size: 1.1rem;
    width: 7.7rem;
    vertical-align: middle;
    margin-left: .8rem;
    @include mobile {
      font-size: .9rem;
    }
  }
  &_img {
    height: 28px;
    @include mobile {
      height: 14px;
    }
  }
  &_slash {
    &:after {
      content: '/';
      color: #fff;
      font-size: 5.4rem;
      position: absolute;
      right: 1.5rem;
      top: -1.6rem;
      transform: rotateY(56deg);
    }
    @include mobile {
      padding-right: 0 !important;
      padding-left: 0 !important;
      &:after {
        font-size: 30px;
        right: 1.3rem;
        top: -1rem;
      }
    }
    @include tablet {
      &:after {
        right: 29px;
      }
    }
  }
}
@include mobile {
  .slash-none {
    &:after {
      content: '';
    }
  }
}@include tablet {
  .slash-none {
    &:after {
      content: '';
    }
  }
}
