.content-nomatch {
  background-position: center;
  background-size: cover;
  .row {
    height: calc(100vh - 101px);
  }
  h3 {
    font-size: 28px;
    color: white;
  }
  span {
    font-size: 15px;
    color: white;
  }
}
