@import "./styles/index";
@import "./styles/src/fonts";
@import "./styles/src/breakpoints";
html,
body {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  font-size: 10px;
  font-family: $Raleway-font-family;
  @include mobile {
    font-size: 7px;
  }
  @include tablet {
    font-size: 10px;
  }
  @include desktop {
    font-size: 14px;
  }
  @include sm-desktop {
    font-size: 12px;
  }
}
.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  @include lg-desktop {
    max-width: calc(100% - 80px);
  }
}
