@import "../../../styles/src/colors";
@import "../../../styles/src/typography";
@import "../../../styles/src/breakpoints";

.contact-realestate-form {
  padding: 15px;
  h4 {
    @include font-poppins-bold-18($orange-color);
  }
  .contact_no {
    white-space: nowrap;
  }
}
.pos-sticky {
  position: sticky;
  top: 80px;
}
